<!-- <h3><%= link_to 'Add a new pin', new_pin_path %></h3>

<% @pins.each do |pin| %>
	<%= link_to pin_path(pin) do %>
    	<%= image_tag pin.img_url, class: "pin_gallery" %><% end %>
	<%= pin.title %>
<% end %> -->

hello world
