/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*Page Setup*/
/* Colors
Red: #A8003B
cream: #FCF7D7
grey: #CFCFCA
*/

* {
  margin: 0px;
  padding: 0px;
}

nav {
  background-color: black;
  color: white;
  font-size: 20px;
  height: 50px;
  padding: 0px;
  margin: 0px;
  display: flex;
}

nav a {
  text-decoration: none;
  padding: 10px;
  color: white;
}

nav a:hover {
  color: #A8003B;
}
.container {
  margin: 20px;
}
.boardGallery a:hover {
background-color: darkgrey;

}

.boardGallery a {
  text-decoration: none;
  background-color: #CFCFCA;
  margin: 20px;
  padding: 40px;
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #A8003B;
  border-radius: 5px;
}

h3 {
  padding: 10px;
}

body {
font-family: 'PT Sans', sans-serif;
  background: #FCF7D7;
  /*margin-left: 200px;
  margin-right: 200px;*/
  color: #274459;
  /*F1FFC9*/
}

.pin_photo {
	max-width: 400px;
}

.pin_gallery {
	width: 200px;
}

.delete {
  background-color: red;
  border: none;
  padding: 8px;
  border-radius: 5px;
  color: white;
  margin: 5px;
}

.enter {
  background-color: #A8003B;
  border: none;
  padding: 8px;
  border-radius: 5px;
  color: white;
  margin: 5px;
  display: inline-block;
}

.enter a {
  color: white;
  text-decoration: none;
}

.pin {
  height: 250px;
  width: 200px;
  background-color: #CFCFCA;
  margin: 20px;
  float: left;
  border-radius: 5px;
}

.pin:hover {
  font-weight: bold;
  color: #274459;
}

.pin p {
  padding: 5px;
  color: #A8003B;

}

img {
  border-radius: 5px 5px 0px 0px;
  height: 200px;
}

.field {
  width: 500px;
}
